{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
     <a href="{{ path('categoria_new') }}">
            <div class="btn btn-primary dropdown-toggle margin-top1">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Categoria
            </div>
        </a>
        {% set ASC = "ASC" %}
        {% set DESC = "DESC" %}
        <a href="{{ path('ordenar_categoria', {'order':ASC}) }}">Ordenar Ascendiente</a>
        <a href="{{ path('ordenar_categoria', {'order':DESC}) }}">Ordenar Descendiente</a>
    <h1>Lista de Categorias</h1>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': entity.id }) }}"
                       {%if entity.borrado %}
                          class="rojo"
                      {%endif%}                       
                       >{{ entity.nombre }}</a></td>
                <td>
                    {%if entity.borrado %}
                        <a href="" title="Restaurar" class="esp" data-toggle="modal" data-target="#{{entity.id}}">
                            <span class="glyphicon glyphicon-share margin-der1" style="color: rgb(6, 129, 6);"></span>
                        </a>
                    {% else %}
                        <a href="" title="Borrar" class="esp" data-toggle="modal" data-target="#{{entity.id}}">
                            <span class="glyphicon glyphicon-trash margin-der1" style="color: rgb(156, 0, 0);"></span>
                        </a>
                    {%endif%}
                    <div class="modal fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">                    
                                {%if entity.borrado %}
                                    Restaurar Categoria
                                {% else %}
                                    Eliminar Categoria
                                {%endif%}
                              </h4>
                            </div>
                            <div class="modal-body">
                              Desea 
                                {%if entity.borrado %}
                                    Restaurar
                                {% else %}
                                    Eliminar
                                {%endif%} la categoria "{{ entity.nombre }}"?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              <a href="{{path('removeCategoria', { 'id': entity.id })}}" >
                                  <button type="submit" 
                                {%if entity.borrado %}
                                    class="btn btn-success">Restaurar
                                {% else %}
                                    class="btn btn-danger">Eliminar
                                {%endif%}
                                </button></a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <a href="{{ path('categoria_edit', { 'id': entity.id }) }}" class="esp">
                        <span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
