{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    <h1>Categoria</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
            </tbody>
    </table>

    <div class="">
        <a href="{{ path('categoria_new') }}" class="pull-left esp">
            <div class="btn btn-primary dropdown-toggle">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nueva Categoria
            </div>
        </a>
            
        <a href="{{ path('categoria_edit', { 'id': entity.id }) }}" class="esp pull-left espacio-left">
            <div class="btn btn-primary dropdown-toggle ">
                <span class="glyphicon glyphicon-pencil"></span>
                Editar Categoria
            </div>
        </a>
            
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form._token) }}
        {{ form_widget(delete_form.submit, {'label': 'Eliminar', 'attr': {'class': 'btn btn-danger dropdown-toggle esp'}}) }}
        {{ form_end(delete_form) }}
    </div>
        
{% endblock %}
