{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    {{ form_start(edit_form) }}
     <div class="overflow distancia">
            {% if error %}
                <div id="login-error" class="alert alert-danger col-md-6 col-md-offset-3">Ya exíste un libro con el mismo ISBN</div>
            {% endif %}
            <div class="panel panel-primary col-md-6 col-md-offset-3">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus">Editar un Libro</span>
                </div>
                {{ form_widget(edit_form._token) }}
                <div class="panel-body form-group ">
                    <label>Renombrar Libro</label>
                    <div class="esp">
                        {{ form_label(edit_form.titulo)}}
                        {{ form_widget(edit_form.titulo, {'attr': {'class': 'form-control', 'placeholder': 'Nuevo nombre del libro'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.imagen)}}
                       {{ form_widget(edit_form.imagen, {'attr': {'class': 'form-control', 'placeholder': 'Imagen'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.isbn)}}
                       {{ form_widget(edit_form.isbn, {'attr': {'class': 'form-control', 'placeholder': 'ISBN','pattern':'^[0-9_]{1,32}', 'title':'Sólo números'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.paginas)}}
                       {{ form_widget(edit_form.paginas, {'attr': {'class': 'form-control', 'placeholder': 'Páginas','pattern':'^[0-9_]{1,32}', 'title':'Sólo números'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.descripcion)}}
                        {{ form_widget(edit_form.descripcion, {'attr': {'class': 'form-control', 'placeholder': 'Descripcion'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.fecha)}}
                        {{ form_widget(edit_form.fecha, {'attr': {'class': 'form-control', 'placeholder': 'Fecha'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.idioma)}}
                        {{ form_widget(edit_form.idioma, {'attr': {'class': 'form-control', 'placeholder': 'Idioma', 'pattern':'^[A-Za-z_]{1,32}', 'title':'Sólo letras'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(edit_form.precio)}}
                        {{ form_widget(edit_form.precio, {'attr': {'class': 'form-control', 'placeholder': 'Precio', 'pattern':'[-+]?[0-9]*[.,][0-9]+', 'title':'Ej. 12.50, 200.00'}})}}
                    </div>
                    
                    <div class="esp">
                        {{ form_label(edit_form.editorial)}}
                        {{ form_widget(edit_form.editorial, {'attr': {'class': 'form-control', 'placeholder': 'Editorial'}})}}
                    </div>
                    
                    <div class="esp">
                        {{ form_label(edit_form.autor)}}
                        {{ form_widget(edit_form.autor, {'attr': {'class': 'form-control', 'placeholder': 'Autor'}})}}
                    </div>
                    
                    <div class="esp">
                        {{ form_label(edit_form.categoria)}}
                        {{ form_widget(edit_form.categoria, {'attr': {'class': 'form-control', 'placeholder': 'Categoria'}})}}
                    </div>
                    
                    <a href="{{ path('libro') }}" class="esp pull-left">
                        <div class="btn btn-primary dropdown-toggle">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            Volver a la lista
                        </div>
                    </a> 
                    <div class="esp">
                        
                        {{ form_widget(edit_form.submit, {'label': 'Actualizar', 'attr': {'class': 'btn btn-primary dropdown-toggle pull-left esp'}}) }}
                        {{ form_end(edit_form) }}
                    </div>
                </div>
            </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}