{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block javascript %}
    
    {{ parent() }}
    <script type="text/javascript">
        $(".search-item").change(function(){
            var data = $(this).val();
            var place = $(this).attr("id");
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "{{ path('filtroLibro')}}",
                data: { data: data, place: place }
            })
            .done(function( libros ) {
                $('.variable').remove();
                for(id in libros){
                    libro = libros[id];
                    var html = "<tr class='variable";
                    if (libro.borrado){
                        html += " rojo";
                    }
                    console.log(libro.borrado );
                    html += "'><td><a href='"+libro.id+"'";
                    if (libro.borrado){
                        html += " class='rojo' ";
                    }
                    html += ">"+libro.isbn+"</a></td>";
                    html += "<td>"+libro.titulo+"</td>";
                    html += "<td>"+libro.descripcion+"</td>";
                    html += "<td>"+libro.fecha.date.substring(0,10)+"</td>";
                    html += "<td>"+libro.pagina+"</td>";
                    html += "<td>"+libro.idioma+"</td>";
                    html += "<td>"+libro.precio+"</td>";
                    html += '<td><a href="" title="';
                    if (libro.borrado == 'false'){
                     html += 'Restaurar';
                    }else{
                            html += 'Borrar';
                    }
                    html += '" class="esp" data-toggle="modal" data-target="#'+libro.isbn+'">';
                    html += '<span class="glyphicon margin-der1 ';
                    if (libro.borrado){
                     html += 'glyphicon-share " style="color: rgb(6, 129, 6);" ';
                    }else{
                     html += 'glyphicon-trash " style="color: rgb(156, 0, 0);" ';
                    }
                    html += '></span></a>';
                    html +='<div class="modal fade" id="'+libro.isbn+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel">';
                    if (libro.borrado){
                        html += 'Restaurar libro';
                    }else{
                        html += 'Eliminar libro';
                    }
                    html +='</h4></div><div class="modal-body">Desea';
                    if (libro.borrado){
                        html += 'Restaurar ';
                    }else{
                        html += 'Eliminar';
                    }
                    html +='el libro "'+libro.titulo+'"?</div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><a href="removeLibro/'+libro.id +'" ><button type="submit"';
                    if (libro.borrado){
                        html += 'class="btn btn-success">Restaurar ';
                    }else{
                        html += 'class="btn btn-danger">Eliminar';
                    }
                    html += '</button></a></div></div></div></div>';
                    html +='<a href="'+libro.id+'" class="esp"><span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span></a></td>';
                    html += "</tr>";
                    $('.tablebody').append(html);
               }
                
            });
        });
    </script>
{% endblock javascript %}
{% block form %}
     <a href="{{ path('libro_new') }}">
            <div class="btn btn-primary dropdown-toggle margin-top1">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Libro
            </div>
        </a>
    <h1>Lista de Libros</h1>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ISBN
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"isbn"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"isbn"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Título
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"titulo"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"titulo"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Descripción
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"descripcion"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"descripcion"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th style="max-width: 100px!important;">Fecha
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"fecha"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"fecha"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Páginas
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"paginas"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"paginas"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Idioma
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"idioma"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"idioma"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Precio
                    <a href="{{ path('ordenar_libro', {'order':"ASC", 'atributo':"precio"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_libro', {'order':"DESC", 'atributo':"precio"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="tablebody">
            <form>
                <td><input type="text" id="isbn" placeholder="ISBN" class="search-item form-control" value="{{app.session.get("filtro_isbn")}}"/></td>
                <td><input type="text" id="titulo" placeholder="Titulo" class="search-item form-control" value="{{app.session.get("filtro_titulo")}}"/></td>
                <td><input type="text" id="descripcion" placeholder="Descripcion" class="search-item form-control" value="{{app.session.get("filtro_descripcion")}}" /></td>
                <td style="max-width: 100px!important;"><input type="date" id="fecha" placeholder="Fecha" class="search-item form-control" value="{{app.session.get("filtro_fecha")}}"/></td>
                <td><input type="text" id="paginas" placeholder="paginas" class="search-item form-control" value="{{app.session.get("filtro_paginas")}}" /></td>
                <td><input type="text" id="idioma" placeholder="idioma" class="search-item form-control" value="{{app.session.get("filtro_idioma")}}"/></td>
                <td><input type="text" id="precio" placeholder="precio" class="search-item form-control" value="{{app.session.get("filtro_precio")}}" /></td>
            </form>  
        {% for entity in entities %}
            <tr {%if entity.borrado %}class="rojo variable" {% else %}class="variable" {%endif%}>
              	<td><a href="{{ path('libro_show', { 'id': entity.id }) }}" {%if entity.borrado %}class="rojo"{%endif%} >{{ entity.isbn }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion  | slice(0, 50) }}&hellip;</td>
		<td style="max-width: 100px!important;">{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.paginas }}</td>
                <td>{{ entity.idioma }}</td>
                <td>{{ entity.precio }}</td>
             
                <td>
                     {%if entity.borrado %}
                        <a href="" title="Restaurar" class="esp" data-toggle="modal" data-target="#{{entity.isbn}}">
                            <span class="glyphicon glyphicon-share margin-der1" style="color: rgb(6, 129, 6);"></span>
                        </a>
                    {% else %}
                        <a href="" title="Borrar" class="esp" data-toggle="modal" data-target="#{{entity.isbn}}">
                            <span class="glyphicon glyphicon-trash margin-der1" style="color: rgb(156, 0, 0);"></span>
                        </a>
                    {%endif%}
                    <div class="modal fade" id="{{ entity.isbn }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">                    
                                {%if entity.borrado %}
                                    Restaurar libro
                                {% else %}
                                    Eliminar libro
                                {%endif%}
                              </h4>
                            </div>
                            <div class="modal-body">
                              Desea 
                                {%if entity.borrado %}
                                    Restaurar
                                {% else %}
                                    Eliminar
                                {%endif%} el libro "{{ entity.titulo }}"?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              <a href="{{path('removeLibro', { 'id': entity.id })}}" >
                                  <button type="submit" 
                                {%if entity.borrado %}
                                    class="btn btn-success">Restaurar
                                {% else %}
                                    class="btn btn-danger">Eliminar
                                {%endif%}
                                </button></a>
                            </div>
                            
                          </div>
                        </div>
                    </div>

                    <a href="{{ path('libro_edit', { 'id': entity.id }) }}" class="esp">
                        <span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}