{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
     <a href="{{ path('libro_new') }}">
            <div class="btn btn-primary dropdown-toggle margin-top1">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Libro
            </div>
        </a>
    <h1>Lista de Libros</h1>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Titulo</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Paginas</th>
                <th>Idioma</th>
                <th>Precio</th>
                <th>Editorial</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
              	<td><a href="{{ path('libro_show', { 'id': entity.id }) }}">{{ entity.isbn }}</a></td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.descripcion  | slice(0, 50)  ~ '...' }}</td>
		<td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.paginas }}</td>
                <td>{{ entity.idioma }}</td>
                <td>{{ entity.precio }}</td>
		<td>{{ entity.editorial }}</td>
             

                <td>
                    <a href="" title="Borrar" class="esp" data-toggle="modal" data-target="#{{ entity.id }}">
                        <span class="glyphicon glyphicon-trash margin-der1" style="color: rgb(156, 0, 0);"></span>
                    </a>
                    <div class="modal fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Eliminar Libro</h4>
                            </div>
                            <div class="modal-body">
                              Desea eliminar el libro "{{ entity.titulo }}" ?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              <a href="{{path('removeLibro', { 'id': entity.id })}}" ><button type="submit" class="btn btn-danger">Eliminar</button></a>
                            </div>
                          </div>
                        </div>
                    </div>

                    <a href="{{ path('libro_edit', { 'id': entity.id }) }}" class="esp">
                        <span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}