{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
     <a href="{{ path('libro_new') }}">
            <div class="btn btn-primary dropdown-toggle margin-top1">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Libro
            </div>
        </a>
    <h1>Lista de Libros</h1>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Año</th>
                <th>Idioma</th>
                <th>Precio</th>
                <th>Actiones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('libro_show', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.anio }}</td>
                <td>{{ entity.idioma }}</td>
                <td>{{ entity.precio }}</td>               
                <td>
                    <a href="{{ path('libro_show', { 'id': entity.id }) }}" title="Borrar" class="esp">
                        <span class="glyphicon glyphicon-trash margin-der1" style="color: rgb(156, 0, 0);"></span>
                    </a>
                    <a href="{{ path('libro_edit', { 'id': entity.id }) }}" class="esp">
                        <span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}