{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    {{ form_start(form) }}
     <div class="overflow distancia">
            <div class="panel panel-primary col-md-6 col-md-offset-3">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus">Crear un  Libro</span>
                </div>
                {{ form_widget(form._token) }}
                <div class="panel-body form-group ">
                    <div class="esp">
                        {{ form_label(form.titulo)}}
                        {{ form_widget(form.titulo, {'attr': {'class': 'form-control', 'placeholder': 'Nuevo nombre del libro'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.imagen)}}
                       {{ form_widget(form.imagen, {'attr': {'class': 'form-control', 'placeholder': 'Imagen'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.isbn)}}
                       {{ form_widget(form.isbn, {'attr': {'class': 'form-control', 'placeholder': 'ISBN'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.paginas)}}
                       {{ form_widget(form.paginas, {'attr': {'class': 'form-control', 'placeholder': 'Páginas'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.descripcion)}}
                        {{ form_widget(form.descripcion, {'attr': {'class': 'form-control', 'placeholder': 'Descripcion'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.fecha)}}
                        {{ form_widget(form.fecha, {'attr': {'class': 'form-control', 'placeholder': 'Fecha'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.idioma)}}
                        {{ form_widget(form.idioma, {'attr': {'class': 'form-control', 'placeholder': 'Idioma'}})}}
                    </div>
                    <div class="esp">
                        {{ form_label(form.precio)}}
                        {{ form_widget(form.precio, {'attr': {'class': 'form-control', 'placeholder': 'Precio'}})}}
                    </div>
                    
                    <div class="esp">
                        {{ form_label(form.editorial)}}
                        {{ form_widget(form.editorial, {'attr': {'class': 'form-control', 'placeholder': 'Editorial'}})}}
                    </div>
                    
                    <div class="esp">
                        {{ form_label(form.autor)}}
                        {{ form_widget(form.autor, {'attr': {'class': 'form-control', 'placeholder': 'Autor'}})}}
                    </div>
                    
                    <div class="esp">
                        {{ form_label(form.categoria)}}
                        {{ form_widget(form.categoria, {'attr': {'class': 'form-control', 'placeholder': 'Categoria'}})}}
                    </div>
                    
                    <a href="{{ path('libro') }}" class="esp pull-left">
                        <div class="btn btn-primary dropdown-toggle">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            Volver a la lista
                        </div>
                    </a> 
                    <div class="esp">
                        
                        {{ form_widget(form.submit, {'label': 'Crear', 'attr': {'class': 'btn btn-primary dropdown-toggle pull-left esp'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
    </div>
    {{ form_end(form) }}
{% endblock %}