{% block body -%}
    <h1>Libro</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ entity.imagen }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Anio</th>
                <td>{{ entity.anio }}</td>
            </tr>
            <tr>
                <th>Idioma</th>
                <td>{{ entity.idioma }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ entity.precio }}</td>
            </tr>
            <tr>
                <th>Borrado</th>
                <td>{{ entity.borrado }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('libro') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('libro_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
