{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    <h1>Libro</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>#</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Imagen</th>
                    <td>{{ entity.imagen }}</td>
                </tr>
                <tr>
                    <th>Descripcion</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Anio</th>
                    <td>{{ entity.anio }}</td>
                </tr>
                <tr>
                    <th>Idioma</th>
                    <td>{{ entity.idioma }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>{{ entity.precio }}</td>
                </tr>
                <tr>
                    <th>Borrado</th>
                    <td>{{ entity.borrado }}</td>
                </tr>
            </tbody>
        </table>

     <div class="">
        <a href="{{ path('libro_new') }}" class="pull-left esp">
            <div class="btn btn-primary dropdown-toggle">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Libro
            </div>
        </a>
            
        <a href="{{ path('libro_edit', { 'id': entity.id }) }}" class="esp pull-left espacio-left">
            <div class="btn btn-primary dropdown-toggle ">
                <span class="glyphicon glyphicon-pencil"></span>
                Editar Libro
            </div>
        </a>
        <a href="{{ path('libro') }}" class="esp">
            <div class="btn btn-primary dropdown-toggle">
                <span class="glyphicon glyphicon-share-alt"></span>
                        Ir a la lista
            </div>
        </a> 
            
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form._token) }}
        {{ form_widget(delete_form.submit, {'label': 'Eliminar', 'attr': {'class': 'btn btn-danger dropdown-toggle esp'}}) }}
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
