{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    <h1>Libro</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>ISBN</th>
                    <td>{{ entity.isbn }}</td>
                </tr>
                <tr>
                    <th>Titulo</th>
                    <td>{{ entity.titulo }}</td>
                </tr>
                <tr>
                    <th>Páginas</th>
                    <td>{{ entity.paginas }}</td>
                </tr>
                <tr>
                    <th>Imagen</th>
                    <td><img src="{{ asset(entity.imagen) }}" title="{{ entity.imagen }}" width="200" height="300"/><img src="{{ asset(entity.contenidoimagen) }}" title="{{ entity.contenidoimagen }}" width="200" height="300"/></td>
                </tr>
                <tr>
                    <th>Descripción</th>
                    <td>{{ entity.descripcion }}</td>
                </tr>
                <tr>
                    <th>Fecha</th>
                    <td>{% if entity.fecha %}{{ entity.fecha|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Idioma</th>
                    <td>{{ entity.idioma }}</td>
                </tr>
                <tr>
                    <th>Precio</th>
                    <td>{{ entity.precio }}</td>
                </tr>
                <tr>
                    <th>Editorial</th>
                    <td>{{ entity.editorial }}</td>
                </tr>
                <tr>
                    <th>Autor</th>
                    {% for a in entity.autor %}
                        <td>{{ a }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Categoría</th>
                    {% for c in entity.categoria %}
                        <td>{{ c }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>

     <div class="">
        <a href="{{ path('libro_new') }}" class="pull-left esp">
            <div class="btn btn-primary dropdown-toggle">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Libro
            </div>
        </a>
            
        <a href="{{ path('libro_edit', { 'id': entity.id }) }}" class="esp pull-left espacio-left">
            <div class="btn btn-primary dropdown-toggle ">
                <span class="glyphicon glyphicon-pencil"></span>
                Editar Libro
            </div>
        </a>
        <a href="{{ path('libro') }}" class="esp pull-left">
            <div class="btn btn-primary dropdown-toggle">
                <span class="glyphicon glyphicon-share-alt"></span>
                        Ir a la lista
            </div>
        </a> 
            
        {{ form_start(delete_form) }}
        {{ form_widget(delete_form._token) }}
        {{ form_widget(delete_form.submit, {'label': 'Eliminar', 'attr': {'class': 'btn btn-danger dropdown-toggle esp'}}) }}
        {{ form_end(delete_form) }}
    </div>
{% endblock %}