{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    <h1>Lista de Pedidos</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Tarjeta</th>
                    <th>Direccion de Envio</th>
                </tr>
            </thead>
            <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.fecha |date("m/d/Y") }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.tarjeta }}</td>
                    <td>{{ pedido.direccion }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
