{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    <form action="{{ path('balance')}}" method="POST">
        <div class="form-group row">
            <div class="col-md-5 col-md-offset-3">
                <label>Seleccione una opción para filtrar</label>
                <select name="filtro" class="form-control">
                    <option value="1">Usuarios</option>
                    <option value="2">Libros comprados</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-4 col-md-offset-1">
                <label>Seleccione fecha mínima</label>
                <input name="min" class="form-control" type="date"/>    
            </div>
            <div class="col-md-4 col-md-offset-1">
                <label>Seleccione fecha máxima</label>
                <input name="max" class="form-control" type="date"/>  
            </div>
        </div>
        <button onclick="buscar()" class="btn btn-primary ">
            <span class="glyphicon glyphicon-search"></span>
            Filtrar
        </button>
    </form>
    
    <div id="result">
        {% if datos %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            {% if tipo == 2 %}
                            <th>cantidad</th>
                            {% else %}
                            <th>Email</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody class="tablebody">
                    {% for dato in datos %}
                        <tr class="variable">
                            {% if tipo == 2 %}
                                <td>{{ dato.dato.titulo }}</td>
                                <td>{{ dato.cant }}</td>
                            {% else %}
                                 <td>{{ dato.username }}</td>
                                 <td>{{ dato.email }}</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}