{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    {{ form_start(edit_form) }}
     <div class="overflow distancia">
            {% if error %}
                <div id="login-error" class="alert alert-danger col-md-6 col-md-offset-3">El Editorial ya exíste</div>
            {% endif %}
            <div class="panel panel-primary col-md-6 col-md-offset-3">
                <div class="panel-heading"><span class="glyphicon glyphicon-plus">Editar una Editorial</span>
                </div>
                {{ form_widget(edit_form._token) }}
                <div class="panel-body form-group ">
                    <label>Renombrar Editorial</label>
                    <div class="esp">
                        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'Categoria'}})}}
                    </div>
                    <div class="esp">
                        {{ form_widget(edit_form.submit, {'label': 'Actualizar', 'attr': {'class': 'btn btn-primary dropdown-toggle pull-left'}}) }}
                        {{ form_end(edit_form) }}
                    </div>
                    <a href="{{ path('editorial') }}" class="esp">
                        <div class="btn btn-primary dropdown-toggle">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            Volver a la lista
                        </div>
                    </a>  
                </div>
            </div>
    </div>
    {{ form_end(edit_form) }}
{% endblock %}

