{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block javascript %}
    <script type="text/javascript">
        $(".search-item").change(function(){
            var data = $(this).val();
            var place = $(this).attr("id");
            $.ajax({
                dataType: "json",
                type: "POST",
                url: "{{ path('filtroEditorial')}}",
                data: { data: data, place: place }
            })
            .done(function( editoriales ) {
                $('.variable').remove();
                for(id in editoriales){
                    editorial = editoriales[id];
                    var html = "<tr class='variable";
                    if (editorial.borrado){
                        html += " rojo";
                    }
                    console.log(editorial.borrado );
                    html += "'><td><a href='"+editorial.id+"'";
                    if (editorial.borrado){
                        html += " class='rojo' ";
                    }
                    html += ">"+editorial.nombre+"</a></td>";
                    html += '<td><a href="" title="';
                    if (editorial.borrado == 'false'){
                     html += 'Restaurar';
                    }else{
                            html += 'Borrar';
                    }
                    html += '" class="esp" data-toggle="modal" data-target="#'+editorial.id+'">';
                    html += '<span class="glyphicon margin-der1 ';
                    if (editorial.borrado){
                     html += 'glyphicon-share " style="color: rgb(6, 129, 6);" ';
                    }else{
                     html += 'glyphicon-trash " style="color: rgb(156, 0, 0);" ';
                    }
                    html += '></span></a>';
                    html +='<div class="modal fade" id="'+editorial.id+'" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h4 class="modal-title" id="myModalLabel">';
                    if (editorial.borrado){
                        html += 'Restaurar editorial';
                    }else{
                        html += 'Eliminar editorial';
                    }
                    html +='</h4></div><div class="modal-body">Desea';
                    if (editorial.borrado){
                        html += 'Restaurar ';
                    }else{
                        html += 'Eliminar';
                    }
                    html +='el editorial "'+editorial.nombre+'"?</div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button><a href="removeEditorial/'+editorial.id +'" ><button type="submit"';
                    if (editorial.borrado){
                        html += 'class="btn btn-success">Restaurar ';
                    }else{
                        html += 'class="btn btn-danger">Eliminar';
                    }
                    html += '</button></a></div></div></div></div>';
                    html +='<a href="'+editorial.id+'" class="esp"><span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span></a></td>';
                    html += "</tr>";
                    $('.tablebody').append(html);
               }
                
            });
        });
    </script>
{% endblock javascript %}
{% block form %}
     <a href="{{ path('editorial_new') }}">
            <div class="btn btn-primary dropdown-toggle margin-top1">
                <span class="glyphicon glyphicon-plus"></span>
                Crear Nuevo Editorial
            </div>
        </a>
    <h1>Lista de Editoriales</h1>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
               <th>Nombre
                    <a href="{{ path('ordenar_editorial', {'order':"ASC"}) }}" class="glyphicon glyphicon-arrow-up"></a>
                    <a href="{{ path('ordenar_editorial', {'order':"DESC"}) }}" class="glyphicon glyphicon-arrow-down"></a>
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="tablebody">
            <td><input type="text" id="nombre" placeholder="Nombre" class="search-item form-control" value="{{app.session.get("filtro_nombre")}}"/></td>
            <td></td>
        {% for entity in entities %}
            <tr class="variable">
                <td><a href="{{ path('editorial_show', { 'id': entity.id }) }}"
                       {%if entity.borrado %}
                          class="rojo"
                      {%endif%}
                       
                       >{{ entity.nombre }}</a></td>
                <td>
                    {%if entity.borrado %}
                        <a href="" title="Restaurar" class="esp" data-toggle="modal" data-target="#{{entity.id}}">
                            <span class="glyphicon glyphicon-share margin-der1" style="color: rgb(6, 129, 6);"></span>
                        </a>
                    {% else %}
                        <a href="" title="Borrar" class="esp" data-toggle="modal" data-target="#{{entity.id}}">
                            <span class="glyphicon glyphicon-trash margin-der1" style="color: rgb(156, 0, 0);"></span>
                        </a>
                    {%endif%}
                    <div class="modal fade" id="{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                              Desea 
                                {%if entity.borrado %}
                                    Restaurar
                                {% else %}
                                    Eliminar
                                {%endif%} la editorial "{{ entity.nombre }}"?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                              <a href="{{path('removeEditorial', { 'id': entity.id })}}" >
                                  <button type="submit" 
                                {%if entity.borrado %}
                                    class="btn btn-success">Restaurar
                                {% else %}
                                    class="btn btn-danger">Eliminar
                                {%endif%}
                                </button></a>
                            </div>
                          </div>
                        </div>
                    </div>
                    <a href="{{ path('editorial_edit', { 'id': entity.id }) }}" class="esp">
                        <span class="glyphicon glyphicon-pencil margin-der1" title="Editar"></span>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
