<!-- BARRA DE NAVEGACION -->
<nav class="padd">
    
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
      
        <li class="active"><a href="../">*Volver</a></li>
        
        <li><a href="{{ path('user') }}">Usuarios</a></li>
        
        <li class="dropdown-submenu dropdown-menu-right">
            <a data-toggle="dropdown" href="#">Autor</a>
            <ul class="dropdown-menu nav nav-pills">
                <li><a href="{{ path('autor_new') }}">Crear Autor</a></li>
                <li><a href="{{ path('autor') }}">Panel Autor</a></li>
            </ul>
        </li>
                
        <li class="dropdown-submenu dropdown-menu-right">
            <a data-toggle="dropdown" href="#">Categoria</a>
            <ul class="dropdown-menu nav nav-pills">
                <li><a href="{{ path('categoria_new') }}">Crear Categoria</a></li>
                <li><a href="{{ path('categoria') }}">Panel Categoria</a></li>
            </ul>
        </li>
        
        <li class="dropdown-submenu dropdown-menu-right">
            <a data-toggle="dropdown" href="#">Editorial</a>
            <ul class="dropdown-menu nav nav-pills">
                <li><a href="{{ path('editorial_new') }}">Crear Editorial</a></li>
                <li><a href="{{ path('editorial') }}">Panel Editorial</a></li>
            </ul>
        </li>
        
        <li class="dropdown-submenu dropdown-menu-right">
            <a data-toggle="dropdown" href="#">Libro</a>
            <ul class="dropdown-menu nav nav-pills">
                <li><a href="{{ path('libro_new') }}">Crear Libro</a></li>
                <li><a href="{{ path('libro') }}">Panel Libro</a></li>
            </ul>
        </li>
        
    </ul>
</nav>
