<!-- BARRA DE NAVEGACION -->
<nav class="padd">
    
    <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        <li class="{% if ruta=="pedidos" %}active{% endif%}">
           <a href="{{ path('pedidos') }}">Pedidos</a>
        </li>
        
        <li class="{% if ruta=="mensaje" %}active{% endif%}"">
           <a href="{{ path('mensaje') }}">Mensajes</a>
        </li>      
        
        <li class="{% if ruta=="usuarios" %}active{% endif%}">
            <a href="{{ path('user') }}">Usuarios</a>
        </li>
        
        <li class="{% if ruta=="autor" %}active{% endif%}">
            <a href="{{ path('autor') }}">Autor</a>
        </li>
                
        <li class="{% if ruta=="categoria" %}active{% endif%}">
            <a href="{{ path('categoria') }}">Categoria</a>
        </li>
        
        <li class="{% if ruta=="editorial" %}active{% endif%}">
            <a href="{{ path('editorial') }}">Editorial</a>
        </li>
        
        <li class="{% if ruta=="libro" %}active{% endif%}">
           <a href="{{ path('libro') }}">Libro</a>
        </li>  
        <li class="{% if ruta=="balance" %}active{% endif%}">
           <a href="{{ path('balance') }}">Balances</a>
        </li> 
              
    </ul>
</nav> 