{% extends 'InicioBundle::default.html.twig' %}
{% block barraLateral %}
     {% include 'InicioBundle:Default:busqueda.html.twig' %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        
        $(".targeta").click(function( index ) {
            $(".targeta").each(function( index ) {
                $(this).children().css("background-color","");
            });
            $(this).children().css("background-color","rgba(163, 0, 0, 0.88)");
            $('#tipot').val($(this).attr("id"));
            var tarjeta = $(this).attr("id");
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "buscarDatosTarjeta",
                 data: { data: tarjeta}
             })
            .done(function( result ) {
                if (result){
                    $('#numero').val(result.numero);
                    $('#fecha').val(result.fecha);
                    $('#numCSC').prop('disabled', result.tieneCSC );
                    $('#tieneCSC').prop('checked', result.tieneCSC );
                    $('#numCSC').val(result.numCSC);
                    $('#nombre').val(result.nombre);
                    $('#apellido').val(result.apellido);
                    $('#dni').val(result.dni);
                }else{
                    $('#numero').val('');
                    $('#fecha').val('');
                    $('#tieneCSC').val(false);
                    $('#numCSC').val('');
                    $('#nombre').val('');
                    $('#apellido').val('');
                    $('#dni').val('');
                }
            })
        });
        
       
        $('#tieneCSC').change(function() {
            if( $(this).prop('checked') ){
                $("#numCSC").prop('disabled',true );
            }else{
                $('#tieneCSC').val(false);
                $("#numCSC").prop('disabled',false );
            }
        });
        
        $('#csc').hover(
            function () {
                $('#infodiv').show();
            }, 
            function () {
                $('#infodiv').hide();
            }
        );
        localStorage.clear();
    </script>
    
{% endblock javascript %}

{% block main %}
<div class="row container">
    <div class="col-md-3">
        <address>
            <h3><strong>Direccion de Envio</strong></h3>
            {{ direccion.calle }}, {{ direccion.numero }}
            {% if direccion.piso %}
                , {{direccion.piso}}
            {% endif %}
            {% if direccion.dpto %}
                , {{direccion.dpto}}
            {% endif %}
            <br>
            {{direccion.provincia}}, {{ direccion.localidad }}<br><br>
        </address>

        <address>
            <h3><strong>Pedido</strong></h3>
            <table class="table" style=" width: 84%; ">
                <thead>
                    <tr>
                        <th>Libro</th>
                        <th>Cant</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pedido %}
                        <tr>
                             <td>{{ item.libro.titulo}}</td>
                             <td><span class="badge">{{ item.cant }}</span></td>
                             <td>{{ item.libro.precio }} </td>
                        </tr>
                   {% endfor %}
                   <tr>
                             <th colspan="2">Total</th>
                             <th>{{ total }}</th>
                    </tr>
                </tbody>
            </table>
        </address>
    </div>
    
    <div class="col-md-9" style="margin-top: 5%;" >
        <div id="foto-container" class="thumbnails row">
            
            {% for img in tarjetas %}
                <a class="targeta" id="{{ img.id }}">
                    <div class="thumbnail col-md-2 esp" id="{{ img.id }}">
                        <img id="thumb4" src="{{ asset(img.path) }}" title="{{ img.nombre }}" >
                    </div>
                </a>
            {% endfor %}
        </div>

        <div>
            <h3> Datos de la Tarjeta</h3>
            <form role="form" action="{{ path('finalizarCompra') }}" method="POST">
                <input type="hidden" value="" name="tipo_tarjeta" id="tipot" required />
                <div class="form-group row">
                    <div class="col-md-3 col-md-offset-1">
                        <label for="exampleInputPassword1">N° de Targeta</label>
                        <input type="number" class="form-control" id="numero" name="numero" placeholder="Nro de Targeta" required>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <label for="exampleInputPassword1">Fecha de Vto.</label>
                        <input type="month" class="form-control" id="fecha" name="vencimiento" required>
                    </div>
                    <div class="col-md-3 col-md-offset-1" id="csc" >
                        <div id="infodiv" class="popover top" style="margin-top: -68%; margin-left: -42%;">
                            <div class="arrow"></div>
                            <h3 class="popover-title">Info</h3>
                            <div class="popover-content">
                                <p>El CVV/CVC es el número de tres dígitos situado en el reverso de las tarjetas VISA®, MasterCard® y Maestro®. No todas las tarjetas Maestro tienen este número. Si no tiene uno, marque esta casilla y deje vacío el campo CSC.</p>
                            </div>
                        </div>
                        <label for="exampleInputPassword1">CVV/CVC<span class="glyphicon glyphicon-info-sign"></span></label>
                        <input type="number" class="form-control" name="csc" id="numCSC" placeholder="123">
                        <span><input type="checkbox" id="tieneCSC" name="tieneCSC"/>No tengo código CVV/CVC en mi tarjeta.</span>
                    </div>    
                    <div class="col-md-3 col-md-offset-1">
                        <label for="exampleInputPassword1">Nombre del Titular</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <label for="exampleInputPassword1">Apellido del Titular</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Apellido" required>
                    </div>
                    <div class="col-md-2 col-md-offset-1">
                        <label for="exampleInputPassword1">DNI del Titular</label>
                        <input type="number" class="form-control" id="dni" name="dni" placeholder="30.000.000" required>
                    </div>
                </div>
                <button type="submit" id="verificar" class="btn btn-primary col-md-offset-5" data-loading-text="Verificando Tarjeta"><h4>Finalizar Pedido</h4></button>
                <script>
                    $('#verificar').click(function () {
                      var btn = $(this);
                      btn.button('loading');
                      $.ajax(...).always(function () {
                        btn.button('reset');
                      });
                    });
                </script>
            </form>
        </div>
    </div>
</div>
{% endblock %}
