{% extends 'InicioBundle::default.html.twig' %}
{% block barraLateral %}
     {% include 'InicioBundle:Default:busqueda.html.twig' %}
{% endblock %}
{% block javascript %}
    
    <script type="text/javascript">
         $.ajax({
            dataType: "json",
            type: "POST",
            url: "{{path('buscarPedidos')}}",
        })
        .done(function( result ) {
            $("#cantP").text(result);
        });
        
        $( "#provincias" ).change(function(){
            var provincia = $('#provincias').val();
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "buscarLocalidades",
                 data: { data: provincia}
             })
            .done(function( result ) {
                $('#localidades').children().each(function( index ) {
                    $( this ).remove();
                });
                for (i in result) {
                    var option=document.createElement('option');
                    option.value=result[i].id;
                    var text=document.createTextNode(result[i].nombre);
                    var padre=document.getElementById("localidades");
                    option.appendChild(text);
                    padre.appendChild(option);
                }
            });
        });
        
        $("#confirmarC").remove();
        
        var tot = 0;
        
        $(".result").each(function( index ) {
            var cant = parseInt($(this).val());
            tot = tot + cant;
        });
        
        $("#total").html(tot);
        
        function actualizarTot(){
            var tot = 0;
            $(".result").each(function( index ) {
                var cant = parseInt($(this).val());
                tot = tot + cant;
            });
            $("#total").html(tot);
        };
        
        function eliminarItem(id){
            localStorage.removeItem(id);
            $("#item_"+id).remove();
            $("#libro_"+id).remove();
            $("#cant").text(parseInt($("#cant").text())-1);
            revisarConfirmar();
        }
        
        function listar(libro){
            var text = $('<tr id="item_'+libro.id+'"> <td><img src="'+libro.src+'" class="img-thumbnail" style="width: 80px;"/></td><td><span class="titulo">'+libro.nombre+'</span> <br><span class="btn btn-success disabled center-block precio">$'+libro.precio+'</span><a onclick="eliminarItem('+libro.id+');" class="eliminarItem"><span class="glyphicon glyphicon-remove">Eliminar</span></a</td></tr>');
            $("#carrito").append(text);
            $("#cant").text(parseInt($("#cant").text())+1);
        }
        
        function revisarConfirmar(){
            var existe = $('#botonesCompra').size();
            if (existe){
                if ( (parseInt($("#cant").text())) == 0 ){
                   $('#botonesCompra').remove();
                }
            }else{
                if ( (parseInt($("#cant").text())) > 0 ){
                   var text=$('<div id="botonesCompra"><a href="#" id="confirmarC" class="confir"><span class="glyphicon glyphicon-check" id="cant"> Continuar Compra</span></a><p id="totItem" class="text-muted text-center"></p><p id="totItem" class="text-muted text-center">Solo aceptamos<img src="{{ asset('img/tarjetas_credito.jpg')}}" style="width: 100%; margin-bottom: -13px;"></p></div>');
                   $('#carro_Comp').append(text);
                }
            }
            
        }
        
        
    </script>
    
{% endblock javascript %}

    
{% block documentReady %}
    for(lib in localStorage){
        if (localStorage.getItem(lib) != 'none'){
            var item= localStorage.getItem(lib);
            var libro = JSON.parse(item);
            listar(libro);
        }else{
            revisarConfirmar();
        }
    }
{% endblock %}

{% block main %}
<div class="row container">
    <form role="form" action="{{ path('compraPasoDos') }}" method="POST">
        <div class="col-md-5 col-md-offset-1">
            <div id="direccion"> 
                <h3>Complete La Direccion del Envio</h3>
                <div class="form-group">
                    <label for="exampleInputEmail1">Provincia</label>
                    <select class="form-control" name="dir[provincia]" id="provincias" required>
                        <option value="" disabled {% if dir %}{% else %} selected {% endif %}>Seleccione una Provincia</option>
                        {% for provincia in provincias %}
                            <option value="{{provincia.id}}" {% if dir %}{% if (dir.provincia.id == provincia.id) %} selected {% endif %}{% endif %}>{{provincia.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group ">
                    <label for="exampleInputPassword1">Localidad</label>
                    <select class="form-control" id="localidades" name="dir[localidad]"required>
                        {% if dir %}
                            {% for localidad in localidades %}
                                <option value="{{localidad.id}}" {% if (dir.localidad.id == localidad.id) %} selected {% endif %}>{{localidad.nombre}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <div class="">
                        <label for="exampleInputPassword1">Calle</label>
                        <input type="text" id="calle" class="form-control" name="dir[calle]" placeholder="Calle" required {% if dir %} value="{{ dir.calle }}"{% endif %}>
                    </div>
                    <div class="">
                        <label for="exampleInputPassword1">Numero</label>
                        <input type="number" id="numero" class="form-control" name="dir[numero]" placeholder="N°" required {% if dir %} value="{{ dir.numero }}"{% endif %}>
                    </div>
                    <div class="">
                        <label for="exampleInputPassword1">Piso</label>
                        <input type="number" id="piso" class="form-control" name="dir[piso]" placeholder="Piso" {% if dir %} value="{{ dir.piso }}"{% endif %}>
                    </div>
                    <div class="">
                        <label for="exampleInputPassword1">Departamento</label>
                        <input type="text" id="dpto" class="form-control" name="dir[dpto]" placeholder="Dpto" {% if dir %} value="{{ dir.dpto }}"{% endif %}>
                    </div>           
                </div>
            </div>
        </div>
        <div class="col-md-5  col-md-offset-1 ">
            <h3>Complete y Confirme los Libros</h3>
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            {% for libro in libros %}
                                <tr id="libro_{{libro.id}}">
                                    <input type="hidden" value="{{libro.id}}" name="libro[{{libro.id}}][id]">
                                    <td class="col-md-5">
                                        <img class="img-circle miniatura" alt="imagen catalogo de {{ libro.titulo }}" src="{{ asset(libro.imagen) }}">
                                        <div class="caption">
                                          <h3>{{libro.titulo}}</h3>
                                        </div>
                                    </td>
                                    <td class="col-md-3">
                                        <span href="" class="btn btn-danger center-block" onclick="eliminarItem({{libro.id}});" role="button">
                                            <span class=" glyphicon glyphicon-trash" > 
                                                Eliminar
                                            </span>
                                        </span>
                                        <div>
                                            <label> Precio</label>
                                            <input id="precio{{libro.id}}" type="number" value="{{libro.precio}}" class="form-control"   readonly="readonly"/>
                                        </div>
                                        <div>
                                            <label>Cantidad</label>
                                            <input id="cant{{libro.id}}" type="number" class="form-control"  name="libro[{{libro.id}}][cant]" min="1" max="10" value ="1"/>
                                        </div>
                                        <label>Total</label>
                                        <input name="resultado{{libro.id}}" class="result form-control"id="resultado{{libro.id}}" type="number" readonly="readonly" value="{{libro.precio}}"/>
                                    </td>
                                    <script type="text/javascript">
                                        setTimeout(function(){
                                            $("#cant{{libro.id}}").change(function(){
                                                var precio = $("#precio{{libro.id}}").val();
                                                var cant = $("#cant{{libro.id}}").val();
                                                if (cant > 0 ){
                                                var tot =  precio * cant;
                                                $("#resultado{{libro.id}}").val(tot); 
                                                actualizarTot();
                                            }
                                            });
                                        }, 100);
                                    </script>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="btn btn-success center-block esp1 disabled" role="button">
                            <span class="glyphicon glyphicon-usd"></span>
                            TOTAL = 
                            <span id="total"> 

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="derecha">
            <a href="{{ path('inicio')}}"><span class="btn btn-default "><h4>Seguir Comprando</h4></span></a>
            <button type="submit" class="btn btn-primary "><h4>Crear Pedido y Realizar Pago</h4></button>
        </div>
    </form>
</div>
{% endblock %}
