{% extends 'InicioBundle::default.html.twig' %}
{% block barraLateral %}
     {% include 'InicioBundle:Default:busqueda.html.twig' %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $( "#provincias" ).change(function(){
            var provincia = $('#provincias').val();
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "buscarLocalidades",
                 data: { data: provincia}
             })
            .done(function( result ) {
                $('#localidades').children().each(function( index ) {
                    $( this ).remove();
                });
                for (i in result) {
                    var option=document.createElement('option');
                    option.value=result[i].id;
                    var text=document.createTextNode(result[i].nombre);
                    var padre=document.getElementById("localidades");
                    option.appendChild(text);
                    padre.appendChild(option);
                }
            });
        });
        
        $("#confirmarC").remove();
        
        var tot = 0;
        
        $(".result").each(function( index ) {
            var cant = parseInt($(this).val());
            tot = tot + cant;
        });
        
        $("#total").html(tot);
        
        function actualizarTot(){
            var tot = 0;
            $(".result").each(function( index ) {
                var cant = parseInt($(this).val());
                tot = tot + cant;
            });
            $("#total").html(tot);
        };
        
        function eliminarItem(id){
            localStorage.removeItem(id);
            $("#item_"+id).remove();
            $("#cant").text(parseInt($("#cant").text())-1);
            revisarConfirmar();
        }
        
        function listar(id){
            $("#cant").text(parseInt($("#cant").text())+1);
        }
        
    </script>
{% endblock javascript %}

    
{% block documentReady %}
    for(libro in localStorage) {
        var libro = JSON.parse(localStorage.getItem(libro));
        listar(libro.id);
    }
{% endblock %}

{% block main %}
<div class="row container">
    <form role="form" >
        <div class="col-md-5 col-md-offset-1">
            <h3>Complete su Direccion</h3>
            <div class="form-group">
                <label for="exampleInputEmail1">Provincia</label>
                <select class="form-control" name="Provincia" id="provincias" required>
                    <option value="" disabled selected>Seleccione una Provincia</option>
                    {% for provincia in provincias %}
                        <option value="{{provincia.id}}">{{provincia.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group ">
                <label for="exampleInputPassword1">Localidad</label>
                <select class="form-control" id="localidades" name="localidad" required>
                </select>
            </div>
            <div class="form-group">
                <div class="">
                    <label for="exampleInputPassword1">Calle</label>
                    <input type="text" class="form-control" name="calle" placeholder="Calle" required>
                </div>
                <div class="">
                    <label for="exampleInputPassword1">Numero</label>
                    <input type="number" class="form-control" name="numero" placeholder="N°" required>
                </div>
                <div class="">
                    <label for="exampleInputPassword1">Piso</label>
                    <input type="number" class="form-control" name="piso" placeholder="Piso" >
                </div>
                <div class="">
                    <label for="exampleInputPassword1">Departamento</label>
                    <input type="text" class="form-control" name="dpto" placeholder="Dpto">
                </div>           
            </div>
        </div>
        <div class="col-md-5  col-md-offset-1 ">
            <h3>Complete y Confirme los Libros</h3>
            <div class="form-group">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            {% for libro in libros %}
                                <tr id="libro_{{libro.id}}">
                                    <td class="col-md-5">
                                        <img class="img-circle miniatura" alt="imagen catalogo de {{ libro.titulo }}" src="{{ asset(libro.imagen) }}">
                                        <div class="caption">
                                          <h3>{{libro.titulo}}</h3>
                                        </div>
                                    </td>
                                    <td class="col-md-3">
                                        <span href="" class="btn btn-danger center-block" onclick="eliminarItem({{libro.id}});" role="button">
                                            <span class=" glyphicon glyphicon-trash" > 
                                                Eliminar
                                            </span>
                                        </span>
                                        <div>
                                            <label> Precio</label>
                                            <input id="precio{{libro.id}}" type="number" value="{{libro.precio}}" class="form-control"  readonly="readonly"/>
                                        </div>
                                        <div>
                                            <label>Cantidad</label>
                                            <input id="cant{{libro.id}}" type="number" class="form-control" min="1" max="10" value ="1"/>
                                        </div>
                                        <label>Total</label>
                                        <input name="resultado{{libro.id}}" class="result form-control"id="resultado{{libro.id}}" type="number" readonly="readonly" value="{{libro.precio}}"/>
                                    </td>
                                    <script type="text/javascript">
                                        setTimeout(function(){
                                            $("#cant{{libro.id}}").change(function(){
                                                var precio = $("#precio{{libro.id}}").val();
                                                var cant = $("#cant{{libro.id}}").val();
                                                if (cant > 0 ){
                                                var tot =  precio * cant;
                                                $("#resultado{{libro.id}}").val(tot); 
                                                actualizarTot();
                                            }
                                            });
                                        }, 100);
                                    </script>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="btn btn-success center-block esp1 disabled" role="button">
                            <span class="glyphicon glyphicon-usd"></span>
                            TOTAL = 
                            <span id="total"> 

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary derecha"><h4>Crear Pedido y Realizar Pago</h4></button>
  </form>
</div>
{% endblock %}
