{% extends 'InicioBundle::default.html.twig' %}
{% block barraLateral %}
     {% include 'InicioBundle:Default:busqueda.html.twig' %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        function listar(id, nombre, precio){
            var li = document.createElement('li');
            li.id=id;
            li.className="carritoItem row";
            var p = document.createElement('p');
            var text = document.createTextNode(nombre+"  $"+precio);
            var a = document.createElement('a');
            var span = document.createElement('span');
            a.setAttribute('onclick', 'eliminarItem('+id+');');
            a.className="glyphicon glyphicon-remove rojo eliminar col-md-1 pull-left";
            p.className="col-md-9 pull-left";
            var cont = document.createTextNode("$ "+precio);
            var padre=document.getElementById("carrito");
            var cant=document.getElementById("cant");
            var cuantosLi = 1;
            jQuery("#carrito li").each(function(index) {
                 cuantosLi = cuantosLi+1;
             });
            cant.innerHTML=cuantosLi;
            p.appendChild(text);
            li.appendChild(p);
            li.appendChild(a);
            padre.appendChild(li);
        }
        $( "#confirmarC" ).click(function(){
            var datos = $('#carrito').children('.carritoItem');
            var libros ="";
            jQuery("#carrito li").each(function(index) {
                libros = libros + datos[index].id;
                libros = libros +"|";
             });
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "conformarCarrito",
                 data: { data: libros}
             })
            .done(function( result ) {
                    if(result){
                        localStorage.clear();
                        $(window.location).attr('href', '{{path('compraPasoUno')}}');
                    }else{
                        $("#login").modal('show');
                    }
            });
        });
        function eliminarItem(id, nombre, precio){
            localStorage.removeItem(id);
            var li = $("#"+id);
            li.remove();
            var cant=document.getElementById("cant");
            var num=cant.textContent;
            num--;
            cant.innerHTML=num;
            
        }
        
        function addCarrito(id, nombre, precio){
           var existe = localStorage.getItem(id);
           if (!(existe)){
               var libro = { 'id' : id, 'nombre' : nombre, 'precio': precio };
                localStorage.setItem(id, JSON.stringify(libro));
                listar(id, nombre, precio);
            }else{
                console.log("existe");
            }
        }
    </script>
{% endblock javascript %}

{% block documentReady %}
    var t=localStorage.length;
    for(libro in localStorage) {
        var libro = JSON.parse(localStorage.getItem(libro));
        listar(libro.id, libro.nombre, libro.precio);
    }
{% endblock %}

{% block contenido %}
<!-- inicio de emergente Login -->
    <div class="modal fade margin-top1" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
        <form class="form-horizontal" role="form" title="formulario de login" action="{{ path('login_check') }}" method="post">
          <div class="modal-body ">
                    <input type="hidden" name="_csrf_token" value="{{ render(controller('InicioBundle:Security:getToken')) }}" />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Usuario</label>
                        <div class="col-sm-9">
                            <input id="username" class="form-control" type="text" name="_username" value="" placeholder="Usuario" title="campo de usuario" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Contraseña</label>
                        <div class="col-sm-9">
                            <input  id="password" type="password" class="form-control" name="_password" placeholder="Contraseña" title=" campo de contraseña" required>
                        </div>
                    </div>
                
          </div>
          <div class="modal-footer">
            <button type="submit" title="entrar" class="btn btn-primary">
                <span class="glyphicon glyphicon-log-in"> </span> 
                Entrar
            </button>
              
            <div type="button" data-toggle="modal" data-target="#registro" role="button" class="btn btn-success">
                    Registrate
                <span class="glyphicon glyphicon-user"> </span> 
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
<!-- fin del emergente  Login -->
{% if form %}
<!-- inicio de emergente Registro -->  
    <div class="modal fade margin-top1" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Registrate</h4>
          </div>
          <div class="modal-body form-horizontal">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Usuario</label>
                        <div class="col-sm-9">
                           {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de Usuario'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Email</label>
                        <div class="col-sm-9">
                           <div class="{% if form.email.vars.errors[0].message is defined %} has-error{% endif %}">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                                {% if form.email.vars.errors[0].message is defined %}
                                    <span class="help-block">
                                    {{ form.email.vars.errors[0].message }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Contraseña</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Contraseña'}}) }}
                        </div>              
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                        Repita la Contraseña</label> 
                        <div class="col-sm-9">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repita la Contraseña'}}) }}
                        </div>        
                    </div>
                
          </div>
          <div class="modal-footer">
            <input type="submit" value="Registrate" class="btn btn-primary dropdown-toggle pull-left"/>
          </div>
            {{ form_end(form) }}
        </div>
      </div>
    </div>
<!-- fin del emergente  Registro -->
{% endif %}

<div class="row">
    {% for libro in libros %}
        <div class="panel panel-primary col-md-5 esp">
            <div class="panel-heading">
                <h3 class="panel-title">{{libro.titulo}}</h3>
            </div>
            <div class="panel-body">
                <img class="img-circle miniatura center-block" alt="imagen catalogo de {{ libro.titulo }}" src="{{ asset(libro.imagen) }}">
                <p>{{libro.descripcion  | slice(0, 80)  ~ '...' }}</p>
            </div>
            <div class="panel-footer center-block">
                <a href="#" class="btn btn-success disabled center-block" role="button">
                    Precio por C/U = ${{libro.precio }}
                </a>
                <a class="btn btn-warning center-block col-md-5 esp1" role="button" onclick="addCarrito({{libro.id}}, '{{libro.titulo }}', {{ libro.precio }})">
                    <span class=" glyphicon glyphicon-shopping-cart" > 
                        Agregar
                    </span>
                </a>
                <a href="{{libro.id}}" class="btn btn-primary center-block col-md-5 esp1" data-toggle="modal" data-target="#{{ libro.isbn }}" role="button">
                    <span class="glyphicon glyphicon-info-sign"> 
                        Ver Mas 
                    </span>
                </a>
            </div>   
        </div>
        <div class="esp">
              <!-- inicio de emergente -->
                <div class="modal fade" id="{{ libro.isbn }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ libro.titulo }}</h4>
                      </div>
                      <div class="modal-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Descripción</th>
                                    <td class="row"><p class="col-sm-8">{{ libro.descripcion }}</p>
                                        <img src="{{ asset(libro.imagen) }}" alt="imagen catalogo de {{ libro.titulo }}" class="img-thumbnail col-sm-3 esp">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Páginas</th>
                                    <td>{{ libro.paginas }}</td>
                                </tr>
                               <tr>
                                    <th>Fecha</th>
                                    <td>{% if libro.fecha %}{{ libro.fecha|date('Y-m-d') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Idioma</th>
                                    <td>{{ libro.idioma }}</td>
                                </tr>
                                <tr>
                                    <th>Precio</th>
                                    <td>{{ libro.precio }}</td>
                                </tr>
                                <tr>
                                    <th>Editorial</th>
                                    <td>{{ libro.editorial }}</td>
                                </tr>
                                <tr>
                                    <th>Autor</th>
                                    <td>
                                        {% for a in libro.autor %}
                                            <div class="col-sm-5">{{ a }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <th>Categoría</th>
                                    <td>
                                        {% for c in libro.categoria %}
                                            <div class="col-sm-5">{{ c }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <div type="button" class="btn btn-default" data-dismiss="modal">SALIR</div>
                        <div type="button" class="btn btn-warning" onclick="addCarrito({{libro.id}}, '{{libro.titulo }}', {{ libro.precio }})">
                            <span class="glyphicon glyphicon-shopping-cart"> </span> AGREGAR AL CARRITO
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               <!-- fin del emergente -->
        </div>
    {% endfor %}
</div>
{% endblock %}
