{% extends 'InicioBundle::default.html.twig' %}
{% block barraLateral %}
     {% include 'InicioBundle:Default:busqueda.html.twig' %}
{% endblock %}
{% block javascript %}
    <script>
        function listar(id, nombre, precio){
            var li = document.createElement('li');
            li.id=id;
            li.className="carritoItem";
            var text = document.createTextNode(nombre+"  $"+precio);
            var a = document.createElement('a');
            var span = document.createElement('span');
            a.setAttribute('onclick', 'eliminarItem('+id+');');
            console.log(a);
            a.className="glyphicon glyphicon-remove rojo pull-right eliminar";
            var cont = document.createTextNode("$ "+precio);
            var padre=document.getElementById("carrito");
            var cant=document.getElementById("cant");
            var cuantosLi = 1;
            jQuery("#carrito li").each(function(index) {
                 cuantosLi = cuantosLi+1;
             });
            cant.innerHTML=cuantosLi;
            li.appendChild(text);
            li.appendChild(a);
            padre.appendChild(li);
        }
        
        function eliminarItem(id, nombre, precio){
            localStorage.removeItem(id);
            var li = $("#"+id);
            li.remove();
            var cant=document.getElementById("cant");
            console.log(cant);
            var num=cant.textContent;
            num--;
            cant.innerHTML=num;
            
        }
        
        function addCarrito(id, nombre, precio){
           var existe = localStorage.getItem(id);
           console.log(existe);
           if (!(existe)){
               var libro = { 'id' : id, 'nombre' : nombre, 'precio': precio };
                localStorage.setItem(id, JSON.stringify(libro));
                listar(id, nombre, precio);
            }else{
                console.log("existe");
            }
        }
    </script>
{% endblock javascript %}

{% block documentReady %}
    var t=localStorage.length;
    for(libro in localStorage) {
        var libro = JSON.parse(localStorage.getItem(libro));
        listar(libro.id, libro.nombre, libro.precio);
    }
{% endblock %}

{% block contenido %}
<!-- inicio de emergente -->
    <div class="modal fade margin-top1" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Login</h4>
          </div>
        <form class="form-horizontal" role="form" title="formulario de login" action="{{ path('login_check') }}" method="post">
          <div class="modal-body ">
                    <input type="hidden" name="_csrf_token" value="{{ render(controller('InicioBundle:Security:getToken')) }}" />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Usuario</label>
                        <div class="col-sm-9">
                            <input id="username" class="form-control" type="text" name="_username" value="" placeholder="Usuario" title="campo de usuario" required >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Contraseña</label>
                        <div class="col-sm-9">
                            <input  id="password" type="password" class="form-control" name="_password" placeholder="Contraseña" title=" campo de contraseña" required>
                        </div>
                    </div>
                
          </div>
          <div class="modal-footer">
            <button type="submit" type="submit" title="entrar" class="btn btn-primary">
                <span class="glyphicon glyphicon-log-in"> </span> 
                Entrar
            </button>
              
            <div type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-user"> </span> 
                Registrate
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
<!-- fin del emergente -->
<div class="row">
    {% for libro in libros %}
        <div class="col-sm-5 esp">
          <div class="thumbnail libro">
            <img src="{{ asset('bootstrap/img/demo-slides/zombie.png') }}" alt="imagen catalogo de {{ libro.titulo }}">
            <div class="caption">
              <h3>{{libro.titulo}}</h3>
              <p>{{libro.descripcion  | slice(0, 80)  ~ '...' }}</p>
              <div>
                  <a href="#" class="btn btn-primary disabled esp" role="button">$ {{libro.precio }}
                  <a href="{{libro.id}}" class="btn btn-default esp" data-toggle="modal" data-target="#{{ libro.isbn }}" role="button"><span class="glyphicon glyphicon-info-sign"> INFO </span></a>
                  <a href="#" class="btn btn-warning esp" role="button" onclick="addCarrito({{libro.id}}, '{{libro.titulo }}', {{ libro.precio }})">
                      <span class=" glyphicon glyphicon-shopping-cart" > 
                          BUY 
                      </span>
                  </a> 
              </div>
              <!-- inicio de emergente -->
                <div class="modal fade" id="{{ libro.isbn }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ libro.titulo }}</h4>
                      </div>
                      <div class="modal-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>Descripción</th>
                                    <td class="row"><p class="col-sm-8">{{ libro.descripcion }}</p>
                                        <img src="{{ asset('bootstrap/img/demo-slides/zombie.png') }}" alt="imagen catalogo de {{ libro.titulo }}" class="img-thumbnail col-sm-3 esp">
                                    </td>
                                </tr>
                                <tr>
                                    <th>Páginas</th>
                                    <td>{{ libro.paginas }}</td>
                                </tr>
                                <tr>
                                    <th>Imagen</th>
                                    <td>{{ libro.imagen }}</td>
                                </tr>

                                <tr>
                                    <th>Fecha</th>
                                    <td>{% if libro.fecha %}{{ libro.fecha|date('Y-m-d') }}{% endif %}</td>
                                </tr>
                                <tr>
                                    <th>Idioma</th>
                                    <td>{{ libro.idioma }}</td>
                                </tr>
                                <tr>
                                    <th>Precio</th>
                                    <td>{{ libro.precio }}</td>
                                </tr>
                                <tr>
                                    <th>Editorial</th>
                                    <td>{{ libro.editorial }}</td>
                                </tr>
                                <tr>
                                    <th>Autor</th>
                                    {% for a in libro.autor %}
                                        <td>{{ a }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th>Categoría</th>
                                    {% for c in libro.categoria %}
                                        <td>{{ c }}</td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <div type="button" class="btn btn-default" data-dismiss="modal">SALIR</div>
                        <div type="button" class="btn btn-warning"><span class="glyphicon glyphicon-shopping-cart"> </span> BUY</div>
                      </div>
                    </div>
                  </div>
                </div>
               <!-- fin del emergente -->
            </div>
          </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
