{% extends 'InicioBundle::default.html.twig' %}
{% block barraLateral %}
     {% include 'InicioBundle:Default:busqueda.html.twig' %}
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "{{path('buscarPedidos')}}",
        })
        .done(function( result ) {
            $("#cantP").text(result);
        });
        function listar(libro){
            var text = $('<tr id="item_'+libro.id+'"> <td class="carritoItem" id="'+libro.id+'"><img src="'+libro.src+'" class="img-thumbnail" style="width: 80px;"/></td><td><a href="'+libro.id+'" data-toggle="modal" data-target="#show_'+libro.id+'" role="button"><span class="titulo">'+libro.nombre+'</span></a> <br><span class="btn btn-success disabled center-block precio">$'+libro.precio+'</span><a onclick="eliminarItem('+libro.id+');" class="eliminarItem"><span class="glyphicon glyphicon-remove">Eliminar</span></a</td></tr>');
            $("#carrito").append(text);
            $("#cant").text(parseInt($("#cant").text())+1);
            actualizarTotalItem();
            revisarConfirmar();
        }
        $( "#confirmarC" ).click(function(){
            var libros ="";
            var datos = $('.carritoItem');
            $('.carritoItem').each(function(index) {
                libros = libros + datos[index].id;
                libros = libros +"|";
            });
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "{{path('conformarCarrito')}}",
                 data: { data: libros}
            })
            .done(function( result ) {
                    if(result){
                         $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: "{{path('compraPasoUno')}}",
                            data: { data: result}
                        })
                        $(location).attr("href","{{path('compraPasoUno')}}");
                    }else{
                        $("#login").modal('show');
                    }
            });
        });
        function eliminarItem(id){
            localStorage.removeItem(id);
            $("#item_"+id).remove();
            $("#cant").text(parseInt($("#cant").text())-1);
            actualizarTotalItem();
            revisarConfirmar();
        }
        
        function addCarrito(id, nombre, precio, src){
            var existe = localStorage.getItem(id);
            if (!(existe)){
                 $('#alert').show();
                var libro = { 'id':id, 'nombre':nombre, 'precio':precio, 'src':src};
                 localStorage.setItem(id, JSON.stringify(libro));
                 listar(libro);
             }else{
             }
        }
        function revisarConfirmar(){
            var existe = $('#botonesCompra').size();
            if (existe){
                if ( (parseInt($("#cant").text())) == 0 ){
                   $('#botonesCompra').remove();
                }
            }else{
                if ( (parseInt($("#cant").text())) > 0 ){
                   var text=$('<div id="botonesCompra"><a href="#" id="confirmarC" class="confir"><span class="glyphicon glyphicon-check" id="cant"> Continuar Compra</span></a><p id="totItem" class="text-muted text-center"></p><p id="totItem" class="text-muted text-center">Solo aceptamos<img src="{{ asset('img/tarjetas_credito.jpg')}}" style="width: 100%; margin-bottom: -13px;"></p></div>');
                   $('#carro_Comp').append(text);
                }
            }
            
        }
        function actualizarTotalItem(){
            var tot=0;
            $('.precio').each(function(index){
               tot += parseInt($(this).text().replace('$', ''));
              });
            $('#totItem').text('El total de la Compra es de $'+tot);
        }
        
        $('.dropdown-toggle').focusout(function() {
            $('#alert').hide();
        });
        
    </script>
{% endblock javascript %}

{% block documentReady %}
    for(lib in localStorage){
        if (localStorage.getItem(lib) != 'none'){
            var item= localStorage.getItem(lib);
            var libro = JSON.parse(item);
            listar(libro);
        }else{
            revisarConfirmar();
        }
    }
{% endblock %}
{% block ventanas %}
    {% include 'InicioBundle:Default:loginAndReg.html.twig' %}
{% endblock %}

{% block contenido %}
<div class="row">
    {% for libro in libros %}
        <div class="panel panel-primary col-md-5 esp">
            <div class="panel-heading">
                <h3 class="panel-title">{{libro.titulo}}</h3>
            </div>
            <div class="panel-body">
                <img class="img-circle miniatura center-block" alt="imagen catalogo de {{ libro.titulo }}" src="{{ asset(libro.imagen) }}">
                <p>{{libro.descripcion  | slice(0, 80)  ~ '...' }}</p>
            </div>
            <div class="panel-footer center-block">
                <a href="#" class="btn btn-success disabled center-block" role="button">
                    Precio por C/U = ${{libro.precio }}
                </a>
                <a class="btn btn-danger center-block col-md-5 esp1" role="button" onclick="addCarrito({{libro.id}}, '{{libro.titulo }}', {{ libro.precio }}, '{{ asset(libro.imagen) }}' )">
                    <span class=" glyphicon glyphicon-shopping-cart" > 
                        Agregar
                    </span>
                </a>
                <a href="{{libro.id}}" class="btn btn-primary center-block col-md-5 esp1" data-toggle="modal" data-target="#show_{{ libro.id }}" role="button">
                    <span class="glyphicon glyphicon-info-sign"> 
                        Ver Mas 
                    </span>
                </a>
            </div>   
        </div>
        <div class="esp">
            <!-- inicio de emergente -->
            <div class="modal fade" id="show_{{ libro.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ libro.titulo }}</h4>
                  </div>
                  <div class="modal-body">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Descripción</th>
                                <td class="row"><p class="col-sm-8">{{ libro.descripcion }}</p>
                                    <img src="{{ asset(libro.imagen) }}" alt="imagen catalogo de {{ libro.titulo }}" class="img-thumbnail col-sm-3 esp">
                                </td>
                            </tr>
                            <tr>
                                <th>Páginas</th>
                                <td>{{ libro.paginas }}</td>
                            </tr>
                           <tr>
                                <th>Fecha</th>
                                <td>{% if libro.fecha %}{{ libro.fecha|date('Y-m-d') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Idioma</th>
                                <td>{{ libro.idioma }}</td>
                            </tr>
                            <tr>
                                <th>Precio</th>
                                <td>{{ libro.precio }}</td>
                            </tr>
                            <tr>
                                <th>Editorial</th>
                                <td>{{ libro.editorial }}</td>
                            </tr>
                            <tr>
                                <th>Autor</th>
                                <td>
                                    {% for a in libro.autor %}
                                        <div class="col-sm-5">{{ a }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <th>Categoría</th>
                                <td>
                                    {% for c in libro.categoria %}
                                        <div class="col-sm-5">{{ c }}</div>
                                    {% endfor %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <div type="button" class="btn btn-default" data-dismiss="modal">SALIR</div>
                    <div type="button" class="btn btn-danger" onclick="addCarrito({{libro.id}}, '{{libro.titulo }}', {{ libro.precio }}, '{{ asset(libro.imagen) }}' )">
                        <span class="glyphicon glyphicon-shopping-cart"> </span> AGREGAR AL CARRITO
                    </div>
                  </div>
                </div>
              </div>
            </div>
           <!-- fin del emergente -->
        </div>
    {% endfor %}
</div>
{% endblock %}
