{% extends 'InicioBundle::default.html.twig' %}
{% block javascript %}
    <script type="text/javascript">
        $.ajax({
            dataType: "json",
            type: "POST",
            url: "{{path('buscarPedidos')}}",
        })
        .done(function( result ) {
            $("#cantP").text(result);
        });
        
        function listar(libro){
            var text = $('<tr id="item_'+libro.id+'"> <td><img src="'+libro.src+'" class="img-thumbnail" style="width: 80px;"/></td><td><span class="titulo">'+libro.nombre+'</span> <br><span class="btn btn-success disabled center-block precio">$'+libro.precio+'</span><br><a onclick="eliminarItem('+libro.id+');" class="eliminarItem"><span class="glyphicon glyphicon-remove">Eliminar</span></a</td></tr>');
            $("#carrito").append(text);
            $("#cant").text(parseInt($("#cant").text())+1);
        }
        $( "#confirmarC" ).click(function(){
            var datos = $('#carrito').children('.carritoItem');
            var libros ="";
            jQuery("#carrito li").each(function(index) {
                libros = libros + datos[index].id;
                libros = libros +"|";
             });
            $.ajax({
                 dataType: "json",
                 type: "POST",
                 url: "conformarCarrito",
                 data: { data: libros}
             })
            .done(function( result ) {
                    if(result){
                         $.ajax({
                            dataType: "json",
                            type: "POST",
                            url: "{{path('compraPasoUno')}}",
                            data: { data: result}
                        })
                        $(location).attr("href","{{path('compraPasoUno')}}");
                    }else{
                        $("#login").modal('show');
                    }
            });
        });
        function eliminarItem(id){
            localStorage.removeItem(id);
            $("#item_"+id).remove();
            $("#cant").text(parseInt($("#cant").text())-1);
            revisarConfirmar();
        }
        
        function addCarrito(id, nombre, precio, src){
           var existe = localStorage.getItem(id);
           if (!(existe)){
               var libro = { 'id':id, 'nombre':nombre, 'precio':precio, 'src':src};
                localStorage.setItem(id, JSON.stringify(libro));
                listar(libro);
            }else{
            }
        }
        function revisarConfirmar(){
            if ( (parseInt($("#cant").text())) == 0 ){
               $('#confirmarC').remove();
            }
        }
        
    </script>
{% endblock javascript %}

{% block documentReady %}
    for(lib in localStorage){
        if (localStorage.getItem(lib) != 'none'){
            var item= localStorage.getItem(lib);
            var libro = JSON.parse(item);
            listar(libro);
        }else{
            revisarConfirmar();
        }
    }
{% endblock %}
{% block ventanas %}
    {% include 'InicioBundle:Default:loginAndReg.html.twig' %}
{% endblock %}

{% block main %}
    <h1>Lista de Pedidos</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Tarjeta</th>
                    <th>Direccion de Envio</th>
                    <th>ver</th>
                </tr>
            </thead>
            <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.fecha |date("m/d/Y") }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.tarjeta }}</td>
                    <td>{{ pedido.direccion }}</td>
                    <td>
                        <a href="{{ path('verPedido', { 'id': pedido.id}) }}">
                            <span class="glyphicon glyphicon-eye-open margin-der1" title="Ver"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
