{% extends 'InicioBundle:Default:index.html.twig' %}
{% block main %}
    <h1>Lista de Pedidos</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Tarjeta</th>
                    <th>Direccion de Envio</th>
                    <th>ver</th>
                </tr>
            </thead>
            <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.fecha |date("m/d/Y") }}</td>
                    <td>{{ pedido.estado }}</td>
                    <td>{{ pedido.tarjeta }}</td>
                    <td>{{ pedido.direccion }}</td>
                    <td>
                        <a href="{{ path('verPedido', { 'id': pedido.id}) }}">
                            <span class="glyphicon glyphicon-eye-open margin-der1" title="Ver"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock main %}
