<!-- inicio de emergente Login -->
<div class="modal fade margin-top1" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 13%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
    <form class="form-horizontal" role="form" title="formulario de login" action="{{ path('login_check') }}" method="post">
      <div class="modal-body ">
                <input type="hidden" name="_csrf_token" value="{{ render(controller('InicioBundle:Security:getToken')) }}" />
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">
                        Usuario</label>
                    <div class="col-sm-9">
                        <input id="username" class="form-control" type="text" name="_username" value="" placeholder="Usuario" title="campo de usuario" required >
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">
                        Contraseña</label>
                    <div class="col-sm-9">
                        <input  id="password" type="password" class="form-control" name="_password" placeholder="Contraseña" title=" campo de contraseña" required>
                    </div>
                </div>

      </div>
      <div class="modal-footer">
        
        <div type="button" data-toggle="modal" data-target="#recuperarClave" role="button" class="btn btn-primary">
                Recuperar clave
            <span class="glyphicon glyphicon-cloud-download"> </span> 
        </div>
        <div type="button" data-toggle="modal" data-target="#registro" role="button" class="btn btn-primary">
                Registrate
            <span class="glyphicon glyphicon-user"> </span> 
        </div>
        <button type="submit" title="entrar" class="btn btn-success">
            <span class="glyphicon glyphicon-log-in"> </span> 
            Entrar
        </button>
        

      </div>
      </form>
    </div>
  </div>
</div>
<!-- fin del emergente  Login -->
{% if form %}
<!-- inicio de emergente Registro -->  
    <div class="modal fade margin-top1" id="registro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="margin-top: 9%;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Registrate</h4>
          </div>
          <div class="modal-body form-horizontal">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Usuario</label>
                        <div class="col-sm-9">
                           {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de Usuario'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">
                            Email</label>
                        <div class="col-sm-9">
                           <div class="{% if form.email.vars.errors[0].message is defined %} has-error{% endif %}">
                                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                                {% if form.email.vars.errors[0].message is defined %}
                                    <span class="help-block">
                                    {{ form.email.vars.errors[0].message }}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                            Contraseña</label>
                        <div class="col-sm-9">
                            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Contraseña'}}) }}
                        </div>              
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">
                        Repita la Contraseña</label> 
                        <div class="col-sm-9">
                            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repita la Contraseña'}}) }}
                        </div>        
                    </div>
                
          </div>
          <div class="modal-footer">
            <input type="submit" value="Registrate" class="btn btn-primary dropdown-toggle pull-left"/>
          </div>
            {{ form_end(form) }}
        </div>
      </div>
    </div>
<!-- fin del emergente  Registro -->
{% endif %}

<!-- inicio de emergente Recuperar clave -->
<div class="modal fade margin-top1" id="recuperarClave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top: 13%;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
    <form class="form-horizontal" role="form" title="formulario de login" action="{{ path('login_check') }}" method="post">
      <div class="modal-body ">
                <input type="hidden" name="_csrf_token" value="{{ render(controller('InicioBundle:Security:getToken')) }}" />
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">
                        Usuario</label>
                    <div class="col-sm-9">
                        <input id="username" class="form-control" type="text" name="_username" value="" placeholder="Usuario" title="campo de usuario" required >
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">
                        Email</label>
                    <div class="col-sm-9">
                        <input id="username" class="form-control" type="text" name="_username" value="" placeholder="Usuario" title="campo de usuario" required >
                    </div>
                </div>
                

      </div>
      <div class="modal-footer">   
        <button type="submit" title="entrar" class="btn btn-success">
            <span class="glyphicon glyphicon-cloud-download"> </span> 
            Recuperar clave
        </button>
        

      </div>
      </form>
    </div>
  </div>
</div>
<!-- fin del emergente  Recuperar clave -->