{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    
    <h1>Lista de Mensajes</h1>

    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Asunto</th>
                <th>Contenido</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {%if not entity.leido %}
                    class="rojo"
                {%endif%}>
                <td>{{ entity.email }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.asunto | slice(0, 30) }}</td>
                <td>{{ entity.contenido  | slice(0, 50) }}&hellip;</td>
                <td>
                    <a href="{{ path('mensaje_show', { 'id': entity.id }) }}" title="Ver" class="esp">
                        <span class="glyphicon glyphicon-envelope margin-der1" ></span>
                    </a>
                    {%if entity.leido %}
                        <a href="{{path('marcarMail', { 'id': entity.id })}}" title="Marcar como no leido" class="esp">
                            <span class="glyphicon glyphicon-eye-close margin-der1 " style="color: rgb(156, 0, 0);"></span>
                        </a>
                    {% else %}
                        <a href="{{path('marcarMail', { 'id': entity.id })}}" title="Marcar como leido" class="esp" >
                            <span class="glyphicon glyphicon-eye-open margin-der1" style="color: rgb(6, 129, 6);"></span>
                        </a>
                    {%endif%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}