{% extends 'InicioBundle:Admin:index.html.twig' %} 
{% block form %}
    <h1>Mensaje</h1>

    <div class="table-responsive">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ entity.email }}</td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td>{{ entity.nombre }}</td>
                </tr>
                <tr>
                    <th>Asunto</th>
                    <td>{{ entity.asunto }}</td>
                </tr>
                <tr>
                    <th>Contenido</th>
                    <td>{{ entity.contenido }}</td>
                </tr>
                <tr>
                    <th>Leido</th>
                    <td>{{ entity.leido }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="{{ path('mensaje') }}" class="esp pull-left">
        <div class="btn btn-primary dropdown-toggle">
            <span class="glyphicon glyphicon-share-alt"></span>
                    Ir a la lista
        </div>
    </a>
{% endblock %}
