{% block form %}
    <h1>Mensaje</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Asunto</th>
                <td>{{ entity.asunto }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ entity.contenido }}</td>
            </tr>
            <tr>
                <th>Leido</th>
                <td>{{ entity.leido }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('mensaje_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
