{% extends "InicioBundle::default.html.twig" %}
{% block mainnav_container %}{% endblock %}

{% block main %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                {{ form_errors(form) }}
                {{ form_widget(form._token) }}
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock"></span>Registrate</div>
                <div class="panel-body distancia">
                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nombre de Usuario'}}) }}
                    
                    <div class="{% if form.email.vars.errors[0].message is defined %} has-error{% endif %}">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                        {% if form.email.vars.errors[0].message is defined %}
                            <span class="help-block">
                            {{ form.email.vars.errors[0].message }}
                            </span>
                        {% endif %}
                    </div>
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Contraseña'}}) }}
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repita la Contraseña'}}) }}
                    {{ form_end(form) }}
                    <div>
                        <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary dropdown-toggle pull-left"/>
                    
                    </div>
                    <a href="../login">
                        <div class="btn btn-primary dropdown-toggle distanciaa">
                            <span class="glyphicon glyphicon-share-alt"></span>
                            Volver al login
                        </div>
                    </a>
                </form>
            </div>
        </div>
        
    </div>
{% endblock %}

